{% extends 'base.html' %}

{% block title %}All questions::{% endblock title %}


{% block body %}

{% if request.user.is_superuser %}
Only Admins can see this
{% endif %}

<div class="container">
    <div class="row">
        <a href="{% url 'questions:questions_create' %}" class="btn btn-primary btn-sm">CreateQn</a>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {% for question in questions %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        {% if question.cover  %}
                        <img src="{{question.cover.url}}" class="card-img-top" />
                        {% endif %}

                        <div class="card-body">
                            <p class="card-title">
                                {{question.title}}
                            </p>
                            <p class="card-title">
                                {{question.categories.name}}
                            </p>
                            <a class="card-link btn btn-primary" href="{% url 'questions:question_show' question.id %}">Show</a>

                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="alert alert-warning">
                    No questions yet
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}