{% extends 'base.html' %}

{% block title %}{{question.title | capfirst}}::{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{question.cover.url}}" />
            <h3>{{question.title | capfirst}}</h3>

            {% for cat in question.categories.all %}
            <li>{{cat.name}}</li>
            {% endfor %}
            <p>{{question.description}}</p>

            <a href="{% url 'questions:question_show' question.id %}?action=edit" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'questions:question_show' question.id %}?action=del" class="btn btn-primary btn-sm">Delete</a>
            <a href="{% url 'questions:question_answer' question.id %}" class="btn btn-primary btn-sm">Answer</a>
        </div>
        
        {% if edit %}
        <div class="col-md-6">
            <form action="{% url 'questions:question_show' question.id %}?action=edit" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button>Edit</button>
            </form>
        </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col-md-6">
        {% for ans in answers %}
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img src="https://randomuser.me/api/portraits/thumb/lego/5.jpg" alt="">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h3> {{ans.name.username}}</h3>
                    {{ans.answer}}
                    <img src="{{ans.ansimg.url}}" />
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}

