[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-environ = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.9"
