<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MathsSolver</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% block css %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}

</head>
<body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <ul id="dropdown" class="dropdown-content">
        <li><a href="{% url 'questions:questions_index' %}">All</a></li>
        {% for cat in categories %}
            <li><a href="{% url 'questions:questions_index' %}?category_filter={{cat}}">{{cat}}</a></li>
        {% endfor %}
    </ul>
    
    <ul class="sidenav" id="slide_out">
        <li><a href="{% url 'questions:questions_index'%}"><i class="material-icons">home</i>Home</a></li>
        <li><a href="{% url 'questions:questions_create' %}"><i class="material-icons">create</i>Create Post</a></li>
        <li><a href="{% url 'accounts:user_logout'%}"><i class="material-icons">exit_to_app</i>Logout</a></li>
    </ul>

    <ul class="sidenav" id="unauth_slide_out">
        <li><a href="{% url 'accounts:user_register'%}">Register</a></li>
        <li><a href="{% url 'accounts:user_login'%}">Login</a></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <div class="container">
                    {% if request.user.is_authenticated == False%}
                        <a href="{% url 'accounts:home'%}" class="brand-logo center">MATHSHERO</a>
                        <a hred="#" class="sidenav-trigger" data-target="unauth_slide_out"><i class="material-icons">menu</i></a>

                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'accounts:user_register'%}">Register</a></li>
                            <li><a href="{% url 'accounts:user_login'%}">Login</a></li>
                        </ul>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'questions:questions_index'%}" class="brand-logo">MATHSHERO</a>
                        <a hred="#" class="sidenav-trigger" data-target="slide_out"><i class="material-icons">menu</i></a>
                        
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'questions:questions_index'%}"><i class="material-icons">home</i></a></li>
                            <li><a href="{% url 'questions:questions_create' %}"><i class="material-icons">create</i></a></li>
                            <li><a href="{% url 'accounts:user_logout'%}"><i class="large material-icons right">exit_to_app</i>Logout</a></li>
                        </ul>
                        <ul class="right">
                            <li><a class="dropdown-trigger" data-target="dropdown"><i class="material-icons right">arrow_drop_down</i>Category</a></li>
                        </ul>
                    {% endif %}
                </div>    
            </div>
        </nav>
    </div>


    {% block body %}{% endblock body %}

    {% block scripts %}
        <script>
            $(document).ready(function(){
                $('.modal').modal();
                $('.dropdown-trigger').dropdown();
            });

            const slide_menu = document.querySelectorAll(".sidenav");
            M.Sidenav.init(slide_menu,{});
        </script>
        
    {% endblock scripts %}
</body>
</html>