{% extends 'question/base.html' %}

{% block title %}All questions::{% endblock title %}


{% block body %}

{% if request.user.is_superuser %}
Only Admins can see this
{% endif %}

<body class="blue-grey darken-4">
    <div class="container">
        <div class="row">
            {% for question in questions %}
            <div class="col s12 m6 l4">
            
                <div class="card center small">
                    <div class="card-image">
                        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
                            <a href="{% url 'questions:question_show' question.id %}">
                                <img src="{{question.cover.url}}" class="card-img-top" /></a>
                        {% comment %} {% else %} {% endcomment %}
                            <img src="{{question.cover.url}}" class="card-img-top" />
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                    <div class="card-content">
                        {{question.title}}
                    </div>
                    <div class="card-action">
                        {% comment %} {% if request.user.is_authenticated == False %}
                            Register/Login to view the question details
                        {% else %} {% endcomment %}
                        <div>{{question.user}}</div>
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>


            {% empty %}
            <div class="alert alert-warning">
                No questions yet
            </div>
            {% endfor %}
        </div> 
    </div>

</body>

{% endblock body %}
