{% extends 'question/base.html' %}

{% comment %} {% extends 'accounts/base.html' %} {% endcomment %}

{% block title %}All questions::{% endblock title %}


{% block body %}

{% if request.user.is_superuser %}
Only Admins can see this
{% endif %}

<body class="blue-grey darken-4">
    <div class="container">
        <div class="row">
            {% for question in questions %}
            <div class="col s12 m8 l4">
            
                <div class="card">
                    <div class="card-image">
                        <img src="{{question.cover.url}}" class="card-img-top" />
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            {{question.title}}
                        </p>
                        <p class="card-title">
                            {{question.categories.name}}
                        </p>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'questions:question_show' question.id %}">Show</a>
                        {% else %}
                            <a href="{% url 'accounts:user_register'%}">Register</a> /
                            <a href="{% url 'accounts:user_login'%}">Login</a> to view the answers
                        {% endif %}
                    </div>
                </div>
            </div>


            {% empty %}
            <div class="alert alert-warning">
                No questions yet
            </div>
            {% endfor %}
        </div> 
    </div>

</body>

{% endblock body %}
