{% extends 'question/base.html' %}
{% load materializecss %}


{% block title %}Create Qn::{% endblock title %}


{% block body %}

<body class="blue-grey darken-4">
    <div class="container grey lighten-3">
        <div class="row section">
            <div class="col s6 offset-s3">
                <form action="{% url 'questions:questions_create'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|materializecss}}
                    
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    <div class="form-row mt-3">
                        <button type="submit" class="btn pink">
                            Create question
                        </button>
                    </div>
                </form>
                <div class="row section"></div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}