{% extends 'question/base.html' %}
{% load materializecss %}

{% comment %} {% extends 'accounts/base.html' %} {% endcomment %}

{% block title %}{{question.title | capfirst}}::{% endblock title %}

{% block body %}
<div class="container">
    <div class="row section">
        <a href="{% url 'questions:questions_index' %}" class="btn btn-primary btn-sm">Back to Listing</a>
    </div>
    <div class="row section">
        <div class="col s6 offset-s3">
            <img src="{{question.cover.url}}" />
            <h3>{{question.title | capfirst}}</h3>

            {% for cat in question.categories.all %}
            <li>{{cat.name}}</li>
            {% endfor %}
            <p>{{question.description}}</p>

            <a href="{% url 'questions:question_show' question.id %}?action=edit" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'questions:question_show' question.id %}?action=del" class="btn btn-primary btn-sm">Delete</a>
            <a href="{% url 'answers:question_answer' question.id %}" class="btn btn-primary btn-sm">Answer</a>
        </div>
    </div>

        {% if edit %}
        
        <div class="row section">
            <div class="divider"></div>
            <div class="row section">
                <a href="{% url 'questions:question_show' question.id %}" class="btn btn-primary btn-sm">Back to Question</a>
            </div>
            
            <div class="row section">
                <div class="col s6 offset-s3">
                    <form action="{% url 'questions:question_show' question.id %}?action=edit" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|materializecss}}
                        <button class="btn btn-primary btn-sm">Edit the Question</button>
                    </form> 
                </div>
            </div>
        </div>
        {% endif %}

    <div class="divider"></div>
    <div class="row section">
        <div class="col s6 offset-s3">
        {% for ans in answers %}
            <div class = "row section">
                <div class="chip">
                    <img src="https://randomuser.me/api/portraits/thumb/lego/5.jpg" alt="">
                    {{ans.name.username}}
                </div>
                <div class="flex-grow-1 ms-3">
                    {{ans.answer}}
                    <img src="{{ans.ansimg.url}}" />
                </div>
            </div>
            <div class="divider"></div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}

