{% extends 'question/base.html' %}
{% load materializecss %}

{% block body %}

<body class="blue-grey darken-4">
    <div class="container">
        <div class="grey lighten-3 center section">

            <form action="" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{form|materializecss}}

                <button class="waves-effect waves-light btn">Update</button>
                
            </form>

        </div>
    </div>
</body>  

{% endblock body %}