{% extends 'accounts/base.html' %}

{% block content %}
<div class="container grey lighten-3 center section">
    <form action="" method="post">
    {% csrf_token %}
    <div class="row section">
        <div class="col s6 offset-s3">
            <label class="left">Username</label>
            <input type="text" class="form-control" name="username">
        </div>
    </div>

    <div class="row">
        <div class="col s6 offset-s3">
            <label class="left">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
    </div>
        <button class="waves-effect waves-light btn">Login</button>

        <div class="row section">
            <p class="text-center">Don't have an account yet? <a href="{% url 'accounts:user_register'%}">Sign Up</a> here.</p>
        </div>
    
    </form>
</div>


{% endblock content %}