{% extends 'question/base.html' %}
{% load materializecss %}

{% block body %}

<body class="blue-grey darken-4">
    <div class="container">
        <div class="row section grey lighten-3">
            <div class="col s6 offset-s3">
            <form action="" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{user_form|materializecss}}

                    <button class="btn pink">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>  

{% endblock body %}