{% extends 'question/base.html' %}
{% load materializecss %}

{% block title %}{{question.title | capfirst}}::{% endblock title %}

{% block body %}

<div class = "container">
    <div class="row">
        <div class="col s6 offset-s3">
            <img src="{{question.cover.url}}" />
            <h3>{{question.title | capfirst}}</h3>

            {% for cat in question.categories.all %}
            <li>{{cat.name}}</li>
            {% endfor %}
            <p>{{question.description}}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row section">
        <a href="{% url 'questions:question_show' question.id %}" class="btn btn-primary btn-sm">Back to Question</a>
    </div>
    <div class="row section">
        <div class="col s6 offset-s3">
            <form action="{% url 'answers:question_answer' question.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{answer_form|materializecss}}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}

                <button type="submit" class="btn btn-primary btn-sm">Post Answer</button>
            </form>
        </div>
        
    </div>
</div>

    
    
{% endblock body %}